#contact {
    padding-top: 30px ;
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 50px;
}

.link{
    transition: transform 0.3s ease;
    color: white;
}

.link:hover {
    transform: translateY(-5px);
    color: rgb(226, 206, 34);
    cursor: pointer;
}